:root {
  --dark-color: #202b38;
  --white-color: #fff;
}

body {
  font-family: serif;
  background-color: var(--dark-color);
  color: var(--white-color);
}

.loading {
  text-align: center;
  font-size: 1.5rem;
}
